<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>MyResources</web-resource-name>
			<!-- /* secures all pages of website -->
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		
		<!-- specifying role that can access secured pages (roles are from tomcat-users.xml -->
		<auth-constraint>
			<role-name>myuserrole</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Creating basic authentication -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<!-- Realm name is file b/c reading username and password from tomcat-users.xml -->
		<realm-name>FILE</realm-name> 
	</login-config>

</web-app>